header{
    text-align:center;
}

body {
    background: #CCFFFF;
    margin: 0;
    padding: 0;

  }

  main{
    background: #bae0ff;
    display: block;
    font-size: 14px;
    height: 50%;
    width: 100%;
    position: relative;
    margin: auto;
    border: 5px solid rgb(75, 237, 205); 
  }

  

  img{
    width:450px; 
    height:300px;
    display: block;
    margin: auto;
  }

  video {
    width: 500px;
    height: 300px;
    display: block;
    margin: auto;
  }